.block-dom__img {
  margin: 0 0 30px;
}

.block-dom__img-box {
  display: block;
}

.block-dom__figure {
  margin: 0 0 30px;
}

.block-dom__caption {
  margin: 0 0 30px;
  text-align: left;
}

.block-dom__figure_state_center {
  text-align: center;
}

.block-dom__caption_state_left {
  margin: 0;
}

.block-dom__figure_state_border {
  margin: 0 0 30px;
  padding: 0;
  border: 1px solid #000;
}

.block-dom__caption_state_border {
  margin: 0;
  padding: 15px 30px;
  color: #5E5E5E;
}