
.block-main__img {
  display: block;
}

.block-main__figure {
  margin: 0 0 30px;
}

.block-main__caption-tagline {
  padding: 30px 0 0 0;
}

.block-main__picture {
  display: block;
  margin: 0 0 30px;
}

.block-main__img_state_last {
  margin: 0 auto;
}
