
.block__title {
  margin: 0 0 30px;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.2;
}

.block-info__content {
  display: flow-root;
  margin: 0 0 30px;
}

.block-info__content:last-child {
  margin: 0;
}

.block-info__picture {
  margin: 0 30px 0 0;
  float: left;
}

.block-info__picture_state_right {
  float: right;
  margin: 0;
}

.block-info__desc {
  display: inline-block;
  max-width: 490px;
  margin: 0 0 30px;
}

.block-info__desc:last-child {
  margin: 0;
}

.block-info__desc_state_left {
  margin: 0 40px 30px 0;
  max-width: 480px;
}

.block-info__desc_state_left:last-child {
  margin: 0 40px 0 0;
}
