/* ! FULL SCREEN ! */
.fullscreen {
  padding: 50px 0 25px;
}

.fullscreen-inner {
  padding: 25px 45px;
  background-color: #F1F1F1;
  border-radius: 10px;
}

.fullscreen__title {
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
}

.fullscreen__navigation-link {
  border-bottom: 1px solid #02535F;
}

.fullscreen__navigation-list {
  margin: 0;
  padding: 0 10px;
  list-style-position: inside;
}

.fullscreen__navigation-item {
  margin: 0 0 10px;
  list-style-position: inside;
  color: #02535F;
}

.fullscreen__navigation-item:last-child {
  margin: 0;
}

.fullscreen__list{
  margin: 0 0 30px;
}

.fullscreen__item {
  margin: 0 0 10px;
  list-style-type: "— ";
  list-style-position: inside;
}